<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="description" content="{{$description}}" />
  <title>{{$title}}</title>
  <link rel="stylesheet" href="{{$root}}main.css">
  <script src="{{$root}}main.js"></script>
  <script src="{{$root}}static/js/tota11y.min.js"></script>
</head>
<body class="spacely">
{{{block 'main'}}}
</body>
</html>
